{% extends './plantilla.html' %}

{% load static %}
{% block body %}
<style>
    body {
        font-family: Arial, sans-serif;
        background: linear-gradient(to right, #418ca5, #8cb356);
        margin: 0;
        padding: 0;
    }

    .container2 {
        text-align: center;
        background: rgb(178, 227, 224);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        margin: 20px auto;
        width: 80%;
    }
</style>
<div class="container2">
    <table class="table">
      <h2>Palabras</h2>
        <thead class="thead-dark">
          <tr>
            <th scope="col">Español</th>
            <th scope="col">Kichwa</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="vertical-align: middle;">Golpear</td>
            <td style="vertical-align: middle;">Takana</td>
          </tr>
          <tr>
            <td style="vertical-align: middle;">Tocar</td>
            <td style="vertical-align: middle;">Takina</td>
          </tr>
          <tr>
            <td style="vertical-align: middle;">Regañar</td>
            <td style="vertical-align: middle;">Takurina</td>
          </tr>
          <tr>
            <td style="vertical-align: middle;">Preguntar</td>
            <td style="vertical-align: middle;">Tapuna</td>
          </tr>
          <tr>
            <td style="vertical-align: middle;">Sembrar</td>
            <td style="vertical-align: middle;">Tarpuna</td>
          </tr>
          <tr>
            <td style="vertical-align: middle;">Volver</td>
            <td style="vertical-align: middle;">Tikrana</td>
          </tr>
          <tr>
            <td style="vertical-align: middle;">Unir</td>
            <td style="vertical-align: middle;">Tinkina</td>
          </tr>
          <tr>
            <td style="vertical-align: middle;">Pintar</td>
            <td style="vertical-align: middle;">Tullpuna</td>
          </tr>
          <tr>
            <td style="vertical-align: middle;">Medir</td>
            <td style="vertical-align: middle;">Tupuna</td>
          </tr>
          <tr>
            <td style="vertical-align: middle;">Terminar</td>
            <td style="vertical-align: middle;">Tukuchina</td>
          </tr>
          <tr>
            <td style="vertical-align: middle;">Reventar</td>
            <td style="vertical-align: middle;">Tukyana</td>
          </tr>
          <tr>
            <td style="vertical-align: middle;">Bailar</td>
            <td style="vertical-align: middle;">Tushuna</td>
          </tr>
          <tr>
            <td style="vertical-align: middle;">Odiar</td>
            <td style="vertical-align: middle;">Tsik-nina</td>
          </tr>
          <tr>
            <td style="vertical-align: middle;">Engañar</td>
            <td style="vertical-align: middle;">Umana</td>
          </tr>
          <tr>
            <td style="vertical-align: middle;">Enfermar</td>
            <td style="vertical-align: middle;">Unkuna</td>
          </tr>
          <tr>
            <td style="vertical-align: middle;">Beber</td>
            <td style="vertical-align: middle;">Upiyana</td>
          </tr>
          <tr>
            <td style="vertical-align: middle;">Caer</td>
            <td style="vertical-align: middle;">Urmana</td>
          </tr>
          <tr>
            <td style="vertical-align: middle;">Oír</td>
            <td style="vertical-align: middle;">Uyana</td>
          </tr>
          <tr>
            <td style="vertical-align: middle;">Bajar</td>
            <td style="vertical-align: middle;">Uryakuna</td>
          </tr>
          <tr>
            <td style="vertical-align: middle;">Poder</td>
            <td style="vertical-align: middle;">Ushana</td>
          </tr>
          <tr>
            <td style="vertical-align: middle;">Hacer hueco</td>
            <td style="vertical-align: middle;">Utukuna</td>
          </tr>
          <tr>
            <td style="vertical-align: middle;">Nacer</td>
            <td style="vertical-align: middle;">Wachana</td>
          </tr>
          <tr>
            <td style="vertical-align: middle;">Llorar</td>
            <td style="vertical-align: middle;">Wakana</td>
          </tr>
          <tr>
            <td style="vertical-align: middle;">Crecer</td>
            <td style="vertical-align: middle;">Wiñana</td>
          </tr>
          <tr>
            <td style="vertical-align: middle;">Morir</td>
            <td style="vertical-align: middle;">Wañuna</td>
          </tr>
        </tbody>
      </table>
</div>
{% endblock %}
